
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
.App {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.userImg {
  width: 400px;
  height: 200px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.inner-card {
  margin-left: 20px;
}
.name {
  margin-bottom: 10px;
  /* margin-left: 20px; */
}
.info {
  margin: 2px 5px;
}
.u-img {
  width: 250px;
  height: 200px;
  /* border: 1px solid gray; */
  margin: 5px;
}
.userCard {
  display: flex;
  border: 1px solid rgb(235, 210, 210);
  width: 70%;
  border-radius: 10px;
  background: #cdcdcd;
  box-shadow: 5px 5px 10px #bebebe, -10px -10px 10px #ffffff;
  margin: 15px auto;
}

/* ---------------Shimmer card css------------------ */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

@media (max-width: 480px) {
  .userImg {
    width: 140px;
    height: 100px;
  }
  .info {
  margin: 2px;
  margin-left: -10px;
}
.name{
    margin-left: -10px;
}
  .u-img {
  width: 120px;
  height: 100px;
  margin: 5px;
}
.userCard {
  display: flex;
  border: 1px solid rgb(235, 210, 210);
  width: 95%;
  font-size: 13px;
  border-radius: 10px;
  background: #cdcdcd;
  box-shadow: 5px 5px 10px #bebebe, -10px -10px 10px #ffffff;
  /* margin: 15px auto; */
}
.inner-img{
   width: 130px;
  height: 190px;
}
.logo-img{
     width: 100px;
  height: 100px;
  margin-top: 25px;
  align-items: center;
  text-align: center;
}
}
